html{
  padding: 50px;
}

span{
  margin-left: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #47f;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.center{
  padding: 20px;
  margin: auto;
  width: 50%;
}
.panel-heading{
  background: #fff;
}
.imgpsot{
  width: 100%;
}
.panel-body{
  padding: 0 !important;
}
.panel-heading{
  background: #fff !important; 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
  